<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
      <link rel="stylesheet" href="resources/css/styles.css">
</head>
<body>
<%- include('partials/navbar') %>

<h1><%= data.titulo %></h1>
<p><%= data.descripcion %></p>

<h2>Lecturas disponibles</h2>
<div class="botones-lecturas">

  <% if (!lecturas || lecturas.length === 0) { %>
    <p>No hay lecturas disponibles.</p>
  <% } else { %>
    <% lecturas.forEach(lec => { %>
      <a
        href="/layout?grado=<%= grado %>&id=<%= lec.id %>"
        class="btn-lectura"
      >
        <%= lec.titulo %>
      </a>
    <% }) %>
  <% } %>
  <a href="/layout?grado=<%= grado %>">Leer todas las lecturas</a>

</div>

<a href="javascript:history.back()" class="boton-regresar">← Regresar</a>


</body>
</html>

